*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
input {
    width: 97%;
    border: 1px hwb(98 25% 42%) solid;
    padding: 0.8rem;
    margin-left: 1rem;
    margin-top: 0.8rem;
    display: block;
}

#input-btn{
    width: 20%;
    margin-left: 1rem;
    margin-top: 0.4rem;
    padding: 0.5rem 1rem;
    background-color: #5f9341;
    border: none;
    border-radius: 0.2rem;
    color: white;
    font-weight: 700;
}

ul{
    margin-left: 2rem;
    margin-top: 0.4rem;
}