*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    min-width: 400px;
}
:root {
    --font-color : #36978f;
    --margin-left : 2rem;
    --margin-top : 0.8rem;
}
input {
    width: 90%;
    border: 1px var(--font-color) solid;
    padding: 0.8rem;
    margin-left: var(--margin-left);
    margin-top: 0.8rem;
    display: block;
}

#input-btn{
    width: 20%;
    margin-left: var(--margin-left);
    margin-top: var(--margin-top);
    padding: 0.5rem 1rem;
    background-color: var(--font-color);
    border: none;
    border-radius: 0.2rem;
    color: white;
    font-weight: 700;
}

ul{
    list-style-type: none;
    margin-left: var(--margin-left);
    margin-top: var(--margin-top);
}

li, a {
    color: var(--font-color);
    margin-top: var(--margin-top);
}